<img class="img2" src="/assets/img/palmera.png"/>
<div class="conteiner">
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <div class="card border-dark mb-3" style="width: 18rem;">
            <img src="/assets/img/sarah.jpg" class="card-img-top" alt="testimonio1">
            <div class="card-body">
              <h5 class="card-title">Patricia</h5>
              <p class="card-text">Soy clienta habitual desde que abrieron el centro, y cada vez estoy más contenta con ellas, por el trato que me dan y la calidad y precio que tienen. si buscáis un centro de estética, os lo recomiendo tienen soluciones para todo.</p>
            </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="card border-dark mb-3" style="width: 18rem;">
            <img src="/assets/img/amy.jpg" class="card-img-top" alt="testimonio1">
            <div class="card-body">
              <h5 class="card-title">Maria</h5>
              <p class="card-text">El personal es agradable y te facilita el horario en las sesiones. El tratamiento que yo he probado ha sido satisfactorio y el precio muy bueno, cuando termine con este tratamiento, seguramente comience otro.</p>
            </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="card border-dark mb-3" style="width: 18rem;">
            <img src="/assets/img/daniel.jpg" class="card-img-top" alt="testimonio1">
            <div class="card-body">
              <h5 class="card-title">Juan</h5>
              <p class="card-text">Trato profesional y personal, buena atención y tiempo de espera para las citas, personal muy amable y simpático, buen trato y buena relación calidad/precio. Lo recomiendo sin dudas.</p>
            </div>
          </div>        
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

</div>
<img class="img3" src="/assets/img/palmera2.png"/>
