<div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
<div class="card border-dark mb-3" style="width: auto;">
    <div class="row g-2">
      <div class="col-md-7">
        <img src="/assets/img/spa.png" alt="img"> 
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h2 class="card-title">MASAJE RELAJANTE</h2>
          <p class="card-text">El masaje relajante es una terapia manual destinada a mejorar el bienestar de la persona, ya que su máximo objetivo es aumentar la producción de endorfinas en nuestro cuerpo. Los beneficios de un masaje relajante van mucho más allá de ofrecer al cuerpo y a la mente un estado profundo de bienestar y relajación.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <mat-card-actions>
            <a mat-raised-button href="https://www.instagram.com/p/CKezOVejYeA/" color="accent" target="_blank">
                VER IMAGEN
            </a> 
        </mat-card-actions>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
<div class="card border-dark mb-3" style="width: auto;">
    <div class="row g-0">
      <div class="col-md-7">
        <img src="/assets/img/plasma.png" alt="img"> 
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h2 class="card-title">PLASMA RICO EN PLAQUETAS</h2>
          <p class="card-text">El plasma es el soporte reológico para transportar células como los eritrocitos o las plaquetas, nutrientes, hormonas y elementos del sistema inmunológico. Como hemos visto, el plasma sanguíneo en humanos se compone mayoritariamente de agua y se puede separar del componente celular de la sangre mediante centrifugación.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <mat-card-actions>
            <a mat-raised-button href="https://www.instagram.com/p/CKaN4vyjJ4u/" color="accent" target="_blank">
                VER IMAGEN
            </a>      
        </mat-card-actions>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
  <div class="card border-dark mb-3" style="width: auto;">
      <div class="row g-2">
        <div class="col-md-7">
          <img src="/assets/img/reduccion.png" alt="img"> 
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <h2 class="card-title">MASAJE REDUCTOR</h2>
            <p class="card-text">Este es un masaje que se realiza con una presión fuerte y una velocidad más rápida a la usual. El masaje reductivo tiene como principal objetivo ayudar a eliminar el acumulo de grasa localizada y a la vez estilizar el contorno de la figura logrando una silueta más estética.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <mat-card-actions>
              <a mat-raised-button href="https://www.instagram.com/p/CKezOVejYeA/" color="accent" target="_blank">
                  VER IMAGEN
              </a> 
          </mat-card-actions>
          </div>
        </div>
      </div>
    </div>
  </div>