<div class="conteiner">
<div class="wrapper">
  <div class="card">
    <div class="front">
      <h1>Plasma</h1>
      <p>Rico en plaquetas</p>
      <p class="price">$ 90.000</p>
    </div>
    <div class="right">
      <h2>Plasma</h2>
      <br>
      <ul>
        <li>Limpieza facial</li>
        <li>Exfoliación</li>
        <li>Pantalla solar</li>
        <li>Duración 1 hr</li>
      </ul>
      <button>Comprar</button>
    </div>
  </div>
  <div class="img-wrapper">
       <img src='assets/img/plasmaR.png' alt=''>    
  </div>
</div>
<div class="wrapper">
  <div class="card">
    <div class="front">
      <h1>Masajes relajantes</h1>
      <p>relajantes y descontracturante</p>
      <p class="price">$ 100.000</p>
    </div>
    <div class="right">
      <h2>Masaje relajante</h2>
      <br>
      <ul>
        <li>Maderoterapia</li>
        <li>Aromaterapia</li>
        <li>Musicoterapia</li>
        <li>Duración 1 hr</li>
      </ul>
      <button>Comprar</button>
    </div>
  </div>
  <div class="img-wrapper">
       <img src='assets/img/masjaRRRR.png' alt=''>    
  </div>
</div>
<div class="wrapper">
  <div class="card">
    <div class="front">
      <h1>Paquete corporal</h1>
      <p>Reductores</p>
      <p class="price">$ 470.000</p>
    </div>
    <div class="right">
      <h2>Signature</h2>
      <br>
      <ul>
        <li>20 sesiones de masje</li>
        <li>Maderoterapia</li>
        <li>Radiofrecuencia</li>
        <li>Electro estimulación</li>
        <li>Carboxiterapia</li>
        <li>Duración 1hr</li>
      </ul>
      <button>Comprar</button>
    </div>
  </div>
  <div class="img-wrapper">
       <img src='assets/img/reductorR.png' alt=''>    
  </div>
</div>
</div>

  




  




  


